<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Account Balance</title>
</head>
<style>
    .heading {
        font-weight: 50;
        font-size: 2em;
        text-shadow: 1px 1px 4px black;
    }
</style>

<body>
    <div class="container" style="margin-top: 3%;">

        <center>
            <div class="row" class="form-group">

                <div class="col-md-3"></div>
                <div class="col-md-6, heading">
                    <b>View Account Balance</b>
                </div>
                <div class="col-md-3"></div>
            </div>
            <form method="POST" enctype="multipart/form-data" onsubmit="return confirm('Getting Account balance!');">


                <br>
                <br>
                <br>
                <br>
                <div class="row" class="form-group">

                    <div class="col-md-2"></div>
                    <div class="col-md-2"><b>Name:</b></div>
                    <div class="col-md-4">
                        <select class="form-select" aria-label="Default select example" name="name">
                            <!-- <option selected>Open this select menu</option> -->
                            <option value="1">Cust1</option>
                            <option value="2">Cust2</option>
                            <option value="3">Airline</option>
                            <option value="4">Hotel</option>
                            <option value="5">Cab</option>

                        </select>
                    </div>
                    <div class="col-md-2"> <button type="submit" class="btn btn-success"
                            style="padding-left: 35px; padding-right: 35px;">View</button>
                    </div>
                </div>
    </div>
    <br>
    <br>
    <div class="row" class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center>
                <textarea name="" id="" cols="8" rows="4" class="form-control" readonly>{{ value }}</textarea>
            </center>

        </div>
        <div class="col-md-4"></div>

    </div>

    </form>
    </center>

    </div>
</body>

</html>